<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

<div class="section">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Actors</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of moviesDB">
        <td>{{item.title}}</td>
        <td>{{item.year}}</td>
        <td>{{item.actors.name}}</td>
      </tr>
    </tbody>
    </table>
  </div>

    </body>
    </html>
